body {
    background-image: url(a5bg.png);
    background-repeat: repeat;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav li {
    display: inline-block;
    padding: 0px;
    margin: 10px;
    width: 150px;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: navy;
}

nav li a:hover {
    background-color: blue;
    color: white;
    text-decoration: none;
}

h1 {
    font-family: Helvetica, sans-serif;
     font-size: 24x;
    font-weight: normal;
    padding: 20px;
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-left: 5x;
    background-color: white;
    
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 3px solid black;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.division {
    background-color: white;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;    
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.five {
    text-align: justify;
}

.plinks {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

.foot {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
    border: 3px solid white;
    background-color: navy;
    padding: 40px;
    margin: 10px;
}