h1 {
    font-family: helvetica, sans-serif;
    font-weight: normal;
    color: white;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    background-color: black;
    grid-column: span 12;
}

#wrapper2 {
    width: 1000px;
    margin: 1em auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    border: 3px solid black;
    background-color: white;
}

header {
    grid-column: span 12;
}

nav {
    grid-column: span 3;
}

nav ul {
    list-style-type: none;
    margin-left: 10px;
    padding: 0px;
}

nav li {
    display: inline-block;
    padding: 0px;
    width: 225px;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 15px;
    background-color: red;
}

nav li a:hover {
    background-color: maroon;
    color: white;
    text-decoration: none;
}

body {
    background-image: url(a62.png);
    background-repeat: repeat;
}

.idkman {
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
    border: 3px solid black;
    padding: 10px;
    background-color: white;
}

main {
    grid-column: span 9;
}

h2 {
    font-family: helvetica, sans-serif;
    font-weight: bold;
    color: black;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
}

.huh {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
    text-align: justify;
}

.huh2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 16px;
    text-align: justify;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

footer {
    border-top: 3px solid black;
    background-color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-align: center;
    grid-column: span 12;
    color: white;
    padding: 10px;
    margin: -10px;
}