body {
  background-image: url(treeee.jpg);
}

#wrapper {
  margin: 1em auto;
  width: 960px;
  border: 3px solid black;
  background-color: #000000;
  padding: 1em;
}

#myCarousel {
  margin-bottom: 24px;
  border: 2px solid black;
}

#myCarousel, .f-carousel__slide {
  text-align: center;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

h2 {
  text-align: center;
  color: gold;
  text-shadow: 3px 3px 3px white;
}

h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  margin-top: -60px;
}

.ital {
  font-style: italic;
}

.f-carousel {
  --f-arrow-pos: 10px;

  --f-arrow-width: 50px;
  --f-arrow-height: 50px;

  --f-arrow-svg-width: 32px;
  --f-arrow-svg-height: 32px;
  --f-arrow-svg-stroke-width: 2.5;

  --f-arrow-color: blue;
  --f-arrow-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0
          0 / 30%);

  --f-arrow-border-radius: 50%;
  --f-arrow-bg: skyblue;
  --f-arrow-hover-bg: #f9f9f9;
  --f-arrow-active-bg: #f0f0f0;

  margin-top: 300px;
}

.fade-in-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}